@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center text-md-center py-5">Welcome to Mail Order Pharmacy</h2>
<div class="container">
    <div class="row">
        <div class="col-md-3 py-4">
        </div>
        <div class="col-md-3 py-4">
            <a href="/Drug/Index" class="col btn btn-lg btn-primary">Check Drug Avaibility</a>
        </div>
        <div class="col-md-3 py-4">
            <a href="/Drug/Index" class="col btn btn-lg btn-info">Check Drug Avaibility</a>
        </div>
        <div class="col-md-3 py-4">
        </div>
        <div class="col-md-4 py-4">
        </div>
        <div class="col-md-4 py-4">
            <a href="/Drug/Index" class="col btn btn-lg btn-warning">Check Dues for Refill</a>
        </div>
        <div class="col-md-4 py-4">
        </div>
        <div class="col-md-3 py-4">
        </div>
        <div class="col-md-3 py-4">
            <a href="/Drug/Index" class="col btn btn-lg btn-success">Subscribe to Mail Order</a>
        </div>
        <div class="col-md-3 py-4">
            <a href="/Drug/Index" class="col btn btn-lg btn-danger">Unsubscribe</a>
        </div>
        <div class="col-md-3 py-4">
        </div>
    </div>
</div>

